{% extends 'base2.html' %}

{% block title %}post_archive_month.html{% endblock %}

{% block content %}
<h2>{{post.title}}</h2>


<p>
    {% if post.get_previous %}
    <a href="{{post.get_previous.get_absolute_url}}"
       title = "이전 글">prev</a>
    {% endif %}

    {% if post.get_next %}
    <a href="{{post.next.get_absolute_url}}"
       title = "다음 글">next</a>
    {% endif %}

    <a href="{% url 'blog:index' %}">돌아가기</a>



</p>

<p>{{post.modify_dt | date:"j F Y"}} -- 조회수:{{post.read_cnt}} -- 작성자:{{post.owner}}</p>
<br>
<div class="text-right my-3">
    {% for file in post.files.all %}
    <a href="{% url 'blog:download' file.id %}" class="ml-4">
        <i class="fas fa-download"></i>
        {{file.filename}} ({{file.size| filesizeformat}})
    </a>
    {% endfor %}
</div>





{% if post.owner == user %}
<div class="text-right">
<a href="{% url 'blog:update' post.id %}" class="mr-3">
<i class="far fa-edit"></i> 수정</a>
<a href="{% url 'blog:delete' post.id %}" class="text-danger mr-3">
<i class="fas fa-trash"></i> 삭제</a>
</div>
{% endif %}
<div>
    {{post.content | safe}}
</div>

<br>
<div>
    <b>TAGS</b><i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
    <a href="{%url 'blog:tagged_object_list' tag.name%}">{{tag.name}}</a>
    {% endfor %}
    &emsp;<a href="{% url 'blog:tag_cloud' %}">
    <span class="btn btn-info btn-sm">TagCloud</span></a>
</div>

{% endblock %}